/* Hero Section Styles */
/* ShatteredImage fragment positioning and effects */

.shattered-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.shattered-fragment {
  position: absolute;
  overflow: hidden;
}

.shattered-fragment-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
